@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}
/*积分转盘*/

.rotate-bg{
    width:300px;
    height:300px;

    position:relative;
    top:0;
    left:0
}
.ly-plate div.lottery-star{
    width:120px;
    height:120px;
    position:absolute;
    top:150px;
    left:147px;
    /*text-indent:-999em;
    overflow:hidden;
    background:url(rotate-static.png);
    -webkit-transform:rotate(0deg);*/
    outline:none
}

.ly-plate div.lottery-star img
{
    width: 100%;
    height: 100%;
}
.ly-plate div.lottery-star #lotteryBtn{
    cursor: pointer;
    position: relative;
    top:-60px;
    left:-56px;

}

/*中奖信息*/
.txtMarquee-top{ width:620px;  overflow:hidden; position:relative;   }
/*.txtMarquee-top .hd{ overflow:hidden;  height:30px; background:#f4f4f4; padding:0 10px;  }*/
.txtMarquee-top  .prev,.txtMarquee-top  .next{ display:block;  width:9px; height:5px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;
    cursor:pointer; background:url("../images/arrow.png") 0 -100px no-repeat;}
/*.txtMarquee-top .hd .next{ background-position:0 -140px;  }
.txtMarquee-top .hd .prevStop{ background-position:-60px -100px;  }
.txtMarquee-top .hd .nextStop{ background-position:-60px -140px;  }
.txtMarquee-top .bd{ padding:15px;  }*/
.txtMarquee-top .infoList li{ height:24px; line-height:24px;   }
.txtMarquee-top .infoList li .date{ float:right; color:#999;  }


.fixed_slider{

    width:100px;
    height:320px;

    position:fixed;
    right:40px;
    top:200px;
    z-index:1000;
}


.btnslider {
    color: #333;
    width: 100%;
    border-color: #ccc;
    display: inline-block;
    padding: 30px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;

}

.advertisement{
    border: 2px black solid;
    width: auto;
}
.advertisement img{

    width: 100%;
}
.linknav a{
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    margin:1%;
}

.linknav {
    margin: 1%;
    border-bottom: 2px #000000 solid;
}

.left-side{
    border: 2px #000000 solid;
    padding: 2px;
}

.user img {
    width: 80px;
    height: 80px;
    padding: 2px;
    float: left;
}

.line{
    border-bottom: 2px #000000 solid;
    margin-top: 11px;
}

.line-dashed{
    border-bottom: 2px #000000 dashed;
    margin-top: 11px;
}

.th-title{
    margin-top: 0px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

#local_table td{
    vertical-align: middle;
}

/*
头像预览框*/

.see-icon{
    width: 340px;
    height: 340px;
    border: 2px #000000 solid;
    margin-top: 20px;
    margin-bottom:20px ;
    margin-right :20px ;
    padding: 0px;
}

.see-icon img{
    width: 100%;
    height: 100%;


}

.see-icon2{
 ;
width: 480px;
margin-top: 20px;
    margin-bottom:20px ;
    margin-right :20px ;
}

.myicon img{
    width: 100px;
    height: 100px;
    border: 2px black solid;
    margin-right:20px ;
    margin-bottom: 20px;
}

.sysicon{
    border: 2px #000000 solid;
}

/*
长输入框*/

.input-xxlg{
    width: 90%;
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    float: left;
}

.border-nav{
    border: 2px #000000 solid;margin-top: 5px
}



.nav-tabs-li li {
    display: block;
    list-style:none;
    float: left;
    padding-left: 40px;
}

/*
购物车*/
.cart{
    position: absolute;
    top: 9px;

}

.cart img{
    width: 100px;
    height: 100px;
}
.cart-head{

}
.add {
    background-color: #0088cc;
}

.min{
    background-color: #0088cc;
}

.form-input input{
    width: 70%;
}
