<h2>Default - Template</h2>
<h3>PUBLIC : __PUBLIC__</h3>
<h3>UPLOAD : __UPLOAD__</h3>
<h3>APP  : __APP__</h3>
<h3>ROOT : __ROOT__</h3>
<h3>URL : __URL__</h3>
<h3>ACTION : __ACTION__</h3>
<h3>SELF : __SELF__</h3>
